<div>
  <h1>Welcome to How to convert HTML To Pdf</h1>
</div>

<div id="contentToConvert">
  <table>
    <tr>
      <th>Customer Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Address</th>
    </tr>
    <tr>
      <td>1</td>
      <td>John </td>
      <td>jhon@gmail.com</td>
      <td>0445607456</td>
      <td>United States</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Rohan </td>
      <td>rohan@gmail.com</td>
      <td>0545607456</td>
      <td>Bangluru</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Pradeep </td>
      <td>pradeep@gmail.com</td>
      <td>0996507456</td>
      <td>Delhi</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Sonia </td>
      <td>sonia@gmail.com</td>
      <td>07899607456</td>
      <td>Varanasi</td>
    </tr>
  </table>
  <img style="width: 150px; height: 150px;" src="../assets/coolDude.png">
  <input type="button" value="EXPORT" (click)="captureScreen()">
</div>
<router-outlet></router-outlet>